* {
    font-family: 'Roboto', serif;
    margin: 0;
    text-align: center;
    box-sizing: border-box;
}

header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://source.unsplash.com/VB-w_3dnyvI); 
    background-size: cover;
    color: white;
}

nav {
    grid-area: menu;
}

main {
    grid-area: main;
    background-image: url(https://source.unsplash.com/NfkWUOkB78c); 
    background-size: cover;
}

aside {
    grid-area: right;
    display: flex; 
    background-color: #a99a7c; 
    color: whitesmoke; 
    justify-content: center; 
    align-items: center;
}

footer {
    grid-area: footer;
}

.grid-container {
    display: grid;
    height: 100vh;
    grid-gap: 5px;
    padding: 5px;
    grid-template-areas:
        "menu header  header"
        "menu   main    right"
        "menu  footer   right";

    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}

.grid-container > * {
    background-color: #5CDB95;
    opacity: 1;
    padding: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-image: url(https://source.unsplash.com/qzgN45hseN0); 
    background-size:cover
}


.navbar a {
    background-color: #8EE4AF;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: grid;
    justify-content: center;
    overflow: hidden;
}


.navbar a:hover {
    background-color: #379683;
    color: black;
}

.navbar a.active {
    background-color:#379683;
    color: black;
}



@media (max-width: 600px){
    .grid-container {
        height: 900px;
        width: 100%;
        grid-gap: 3px;
        padding: 5px;
        grid-template-areas:
        "header"
        "main"
        "menu"
        "right"
        "footer";

        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 2fr 1fr 2fr 1fr;
    }
}